body{
    background-image: url('background2.jpg')
}
.navbar{
    background-color: rgb(85, 84, 84) !important;
}

.container-fluid{
    width: 100% !important;
    background-color: rgb(255, 201, 14);
    height: 80px;
}
.dropdown-item:hover{
    background-color: rgb(157, 160, 161);
}
.head1{
    text-align: center;
    font-size: 20px;
    color: darkblue;
    position: relative;
    bottom: 42px;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
    font-weight: bolder;
}
.img1{
    width: 60px;
    position: relative;
    top: 3px;
    right: 13px;
    border-radius: 10px;
}

.rounded{
    width: 170px;
    position: relative;
    bottom: 40px;
}

.nav-item{
    position: relative;
    right: 10px;
}

.nav-link{
    font-weight: bold;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.nav-link:hover{
    background-color: rgb(155, 213, 236);
}
.marq2{ 
    height: 400px;
    text-align: justify;
    opacity: 0.9;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: lighter;
    color: black;
    position: relative;
    top: 20px;
    
}
.btn{
    color: white !important;
}